.tradingContainer {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: -100px;
}

.tradingImg {
    width: 100%;
}

.tradingH6Text {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #41C19E;
}

.tradingH5Text {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #41C19E;
    margin: 15px 0px;
}

.tradingText {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 135%;
    color: #C8DAD7;
    margin-right: 70px;
}



@media only screen and (max-device-width: 480px) {
    .tradingH6Text {
        font-size: 18px;
    }

    .tradingH5Text {
        font-size: 24px;
    }

    .tradingText {
        font-size: 20px;
        margin-right: 0px;
    }


    .tradingContainer {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        margin: 0 auto;

        margin-top: -70px;
    }

    .experienceBox {
        order: 4 !important;
    }
}