.aboutContainer {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 62px;
}

.aboutImg {
    width: 300px;
    height: 450.04px;
}

.aboutContent h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #41C19E;
}

.aboutContent p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #D8CFCF;
    margin-top: 20px;
}

.straightLine {
    height: 1px;
    background-color: #9C8E8E;
    margin: 0 auto;
    margin-top: 50px;
    width: 100%;
    max-width: 900px;
}

.marginTop {
    margin-top: 117px;
}

.aboutImg2 {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin-bottom: 30px;
    /* height: 400px; */
}

.aboutImg3 {
    width: 300px;
    height: 230px;
}

.missionSection {
    width: 100%;
    margin-top: 131px;
    display: inline-block;
}

.missionSectionMobile {
    display: none;
}

.missionVisionHeader {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #39A088;
    margin-top: 50px;
}

@media only screen and (max-device-width: 480px) {
    .aboutContainer {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        padding-top: 15vh;
    }

    .missionSection {
        display: none;
    }

    .missionSectionMobile {
        display: block;
        width: 100%;
    }

    .aboutImg {
        width: 300px;
        height: 450.04px;
        margin-top: 30px;
    }

    .missionVisionHeader {
        font-size: 20px;
        margin-bottom: 50px;
    }

    .aboutImg2 {
        width: 300px;
        height: 300px;
        display: inline-block;
        margin-bottom: 10px;
        margin-top: 25px;
        /* height: 400px; */
    }
}