.learnContainer {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 62px;
}

.marginTop {
    margin-top: 40px;
}

.learnImg1 {
    width: 300px;
    height: 300px;
}

.learnImg2 {
    width: 400px;
    height: 250px;
}

.learnImg3 {
    width: 500px;
    height: 550px;
}

.learnImg4 {
    width: 300px;
    height: 300px;
}

.learnImg5 {
    width: 100%;
}

.learnImg6 {
    width: 100%;
}

.aboutContent h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #41C19E;
}

.aboutContent p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #D8CFCF;
    margin-top: 20px;
}


@media only screen and (max-device-width: 480px) {
    .learnContainer {
        margin: 0 auto;
        padding-top: 15vh;
    }

    .aboutContent {
        padding-left: 20px;
        padding-right: 20px;
    }

    .learnImg1 {
        margin-top: 20px;
        width: 100%;
    }

    .learnImg2,
    .learnImg3 {
        width: 100%;
    }

    .learnImg4 {
        width: 100%;
        margin-top: 50px;
    }

    .decentralizedSection {
        display: none;
    }

}