.image {
    /* width: 100%; */
    width: 507px;
    height: 568px;
}

.faqContainer {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 88px;
    margin-bottom: 88px;
}


@media only screen and (max-device-width: 480px) {
    .image {
        width: 275.82px;
        height: 309px;
    }

    .accordianContainer {
        margin-top: 30px;
    }

    .accordianTitle {

        font-size: 13px;

    }

}